index.html
<!DOCTYPE html><head><title>anime</title><meta charset="utf-8"><link rel="stylesheet" type="text/css" href="style.css"></head><body><div class="world"><div class="system"><div class="center sun"><div class="satellite system"><div class="center earth"><div class="satellite"><div class="system"><div class="center moon"><div class="satellite"></div></div></div></div></div></div><div class="satellite system mars_space"><div class="center"><div class="satellite"></div></div></div></div></div></div></body>

index.jade
doctype html
head
   title anime
   meta(charset="utf-8")
   link(rel="stylesheet" type="text/css" href="style.css")
body
   .world
      .system
         .center.sun
            .satellite.system
                  .center.earth
                     .satellite
                        .system
                           .center.moon
                              .satellite
            .satellite.system.mars_space
               .center
                  .satellite
